# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

**/image-*
*/lepidoptera-*/
*/leopidotera-dk.csv
*/occurrence.csv
.idea
*/image_lbp
__pycache__
venv

.vscode/*
core/logs/*
core/modelcheckpoint/*
.conda/*
