requests==2.31.0
pillow==10.1.0
pandas==2.0.3
pytest==7.4.2
ruff==0.1.3
scikit-image==0.21.0
tensorflow==2.13.1
matplotlib==3.5.3
roboflow==1.1.6
ultralytics==8.0.134
pre-commit==3.5.0
numpy==1.24.3